.body {
    background-color: #ffffff;
}
a {
    color: #5d94f2;
}
a:hover {
    color: #640000;
}
.main-caption {
    background-color: black;
    color: white;
}
.main-footer {
    background: #5d94f2;
    color: white;
}
.main-placeholder {
    background: violet;
}
.drop-down {
    background-color: white;
    border-color: lightgray;
}
.drop-down li:hover {
    background-color: lavender;
    color: darkred;
}
.login input[type="submit"] {
    background-color: black;
}
.login a {
    color: white;
}
.login a:hover {
    color: red;
}