.body {
    background-color: #ffffff;
}
a {
    color: #5d94f2;
}
a:hover {
    color: #640000;
}
.main-caption {
    background-color: black;
    color: white;
}
.main-footer {
    background: #5d94f2;
    color: white;
}
.main-placeholder {
    background: violet;
}
.drop-down {
    background-color: white;
    border-color: lightgray;
    color: black;
}
.drop-down li:hover {
    background-color: lavender;
    color: darkred;
}
.slide-menu {
    background-color: transparent;
}
.slide-menu div {
    background-color: black;
    opacity: 0.9;
}
.slide-menu li {
    background-color: transparent;
    color: white;
    opacity: 1;
}
.slide-menu li:hover {
    background-color: black !important;
    color: white;
    opacity: 1;
}